

<!-- <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 400px"></google-map> -->


<!-- <div ng-controller="MapCtrl" style="height: 400px">
    <google-map id="mymap" center="center" zoom="zoom" draggable="false" mark-click="true" style="height: 400px; display:block;">
        <markers>
            <marker ng-repeat="marker in markers" coords="marker">
            </marker>
        </markers>
    </google-map>
</div> -->

<div data-ng-controller="MapCtrl">
	
	HOME AUTH
	<div data-draw-map></div>
 
    <!-- <div style="width:500px; height:200px; background:#fff; position:absolute; top:100px; left:100px; -webkit-filter:blur(1px); opacity:1;">
        <p>abs</p>
        <p>lorem ipsum</p>
    </div>    -->
    
    <div class="container" data-ng-controller="NavCtrl">
        <ul class="nav nav-tabs">
            <li data-ng-repeat="item in menu" data-ng-click="setPage(item)" data-ng-class="{active : isSelected(item)}"><a href="javascript:void(0);">{{item}}</a></li>
        </ul>

        <!-- {{selected}} -->

        <div ng-switch on="selected">
            <!-- <div id="attractions" ng-switch-default>
                aaa
            </div> -->
            <div id="attractions" ng-switch-when="Atrações" data-ng-controller="AttractionsCtrl">
                <h2>Atrações</h2>
                
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Editar</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="place in dataList.travels[dataList.lastTravel].places" data-ng-click="setCenter(place.position)">
                            <!-- <td>{{place}}</td> -->
                            <td>{{$index +1}}</td>
                            <td>{{place.name}}</td>
                            <td>{{placeData.category[place.category].type}}</td>
                            <td><button class="btn btn-default btn-xs" type="button" data-ng-click="edit({id:place.id, $address:place.address, position:place.position, name:place.name, address:place.address, category:place.category, url:place.url})">Editar</button></td>
                            <td><button class="btn btn-danger btn-xs" type="button" data-ng-click="delete(place.id)">Remover</button></td>
                        </tr>
                    </tbody>
                </table>
                <button data-ng-hide="dataPlace.$show" class="btn btn-primary pull-right" type="button" data-ng-click="new()">Novo</button>
                
                <div class="form-places" data-ng-show="dataPlace.$show">
                    <form name="formPlace">                        
                        <div class="form-group" data-ng-class="{error: formPlace.address.$invalid && formPlace.address.$dirty}">
                            <label class="control-label">Localização</label>
                            <input id="field-address" class="form-control" type="text" name="address" value="{{dataPlace.address}}" data-ng-model="dataPlace.$address" required>
                            $address: {{dataPlace.$address}}<br>
                            address: {{dataPlace.address}}
                        </div>

                                                
                        <div class="form-group" data-ng-class="{error: formPlace.name.$invalid && formPlace.name.$dirty}">
                            <label class="control-label">Nome</label>
                            <input class="form-control" type="text" name="name" value="{{dataPlace.name}}" data-ng-model="dataPlace.name" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Position</label>
                            <input class="form-control" type="text" name="position" value="{{dataPlace.position}}" data-ng-model="dataPlace.position" disabled>                            
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="control-label">Tipo</label>
                            <select class="form-control" name="type" data-ng-model="dataPlace.category" data-ng-options="category.id as category.type for (key, category) in placeData.category | toArray | orderBy:'type'" data-ng-change=""></select>
                        </div>
                        
                        <!-- <div class="form-group">
                            <label class="control-label">Latitude</label>
                            <input class="form-control" type="text" name="lat" value="{{dataPlace.lat}}" data-ng-model="dataPlace.lat">
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">Longitude</label>
                            <input class="form-control" type="text" name="long" value="{{dataPlace.long}}" data-ng-model="dataPlace.long">
                        </div> -->
                        
                        <div class="form-group" data-ng-class="{error: formPlace.url.$invalid && formPlace.url.$dirty}">
                            <label class="control-label">Url</label>
                            <input class="form-control" type="text" name="url" value="{{dataPlace.url}}" data-ng-model="dataPlace.url">
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-default" type="button" data-ng-click="cancel()">Cancelar</button>        
                            <button class="btn btn-primary" type="button" data-ng-show="dataPlace.$edit" data-ng-disabled="formPlace.$invalid" data-ng-click="submitEdit({id:dataPlace.id, $address:dataPlace.address, position:dataPlace.position, name:dataPlace.name, address:dataPlace.$address, category:dataPlace.category, url:dataPlace.url})">Editar</button>
                            <button class="btn btn-primary" type="button" data-ng-hide="dataPlace.$edit" data-ng-disabled="formPlace.$invalid" data-ng-click="submitNew({id:dataPlace.id, $address:dataPlace.$address, position:dataPlace.position, name:dataPlace.name, address:dataPlace.$address, category:dataPlace.category, url:dataPlace.url})">Salvar</button>                                
                        </div>
                        
                        
                    </form>
                </div>

            </div>

            <div id="guide" ng-switch-when="Roteiro">
                ccc
            </div>
        </div>
        
        <svg height="110" width="110">
          <defs>
            <filter id="f1" x="0" y="0">
              <feGaussianBlur in="SourceGraphic" stdDeviation="15" />
            </filter>
          </defs>
          <rect width="90" height="90" stroke="green" stroke-width="3" fill="yellow" filter="url(#f1)" />
          Sorry, your browser does not support inline SVG.  
        </svg>
        
    </div>



    <!-- <div ng-controller="Ctrl">
      <select ng-model="selection" ng-options="item for item in items">
      </select>
      <tt>selection={{selection}}</tt>
      <hr/>
      <div class="animate-switch-container"
        ng-switch on="selection">
          <div class="animate-switch" ng-switch-when="settings">Settings Div</div>
          <div class="animate-switch" ng-switch-when="home">Home Span</div>
          <div class="animate-switch" ng-switch-default>default</div>
      </div>

<tr data-ng-repeat='actor in avengers.dataList | avengersFilter:avengers.field' data-ng-click='match({id:actor.id, name:actor.name, char:actor.character, rating:actor.rating, defRating:actor.def-rating, index:$index, lastId:$last})' class=''>
 -->

	
	<!-- {{user}} -->
</div>