

<!-- <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 400px"></google-map> -->


<!-- <div ng-controller="MapCtrl" style="height: 400px">
    <google-map id="mymap" center="center" zoom="zoom" draggable="false" mark-click="true" style="height: 400px; display:block;">
        <markers>
            <marker ng-repeat="marker in markers" coords="marker">
            </marker>
        </markers>
    </google-map>
</div> -->

<div data-ng-controller="MapCtrl">
	
	HOME AUTH
	<div data-draw-map></div>
    
    <div class="container" data-ng-controller="NavCtrl">
        <ul class="nav nav-tabs">
            <li data-ng-repeat="item in menu" data-ng-click="setPage(item)" data-ng-class="{active : isSelected(item)}"><a href="javascript:void(0);">{{item}}</a></li>
        </ul>

        <!-- {{selected}} -->

        <div ng-switch on="selected">
            <!-- <div id="attractions" ng-switch-default>
                aaa
            </div> -->
            <div id="attractions" ng-switch-when="Atrações" data-ng-controller="AttractionsCtrl">
                <h2>Atrações</h2>
                
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Editar</th>
                            <th>Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="place in dataList.travels[dataList.lastTravel].places">
                            <!-- <td>{{place}}</td> -->
                            <td>{{$index}}</td>
                            <td>{{place.name}}</td>
                            <td><button class="btn btn-default btn-xs" type="button" data-ng-click="edit({id:place.id, position:place.position, name:place.name, address:place.address, url:place.url})">Editar</button></td>
                            <td><button class="btn btn-danger btn-xs" type="button" data-ng-click="delete(place.id)">Remover</button></td>
                        </tr>
                    </tbody>
                </table>
                <button data-ng-hide="dataPlace.$show" class="btn btn-primary pull-right" type="button" data-ng-click="new()">Novo</button>
                
                <div class="form-places" data-ng-show="dataPlace.$show">
                    <form name="formPlace">
                        <div class="form-group" data-ng-class="{error: formPlace.name.$invalid && formPlace.name.$dirty}">

                            <!-- {show: false, position: "", id: "", name: "", address: "", url: ""}; -->

                            <label class="control-label">Nome</label>
                            <input class="form-control" type="text" name="name" value="{{dataPlace.name}}" data-ng-model="dataPlace.name" required>
                        </div>
                        <div class="form-group" data-ng-class="{error: formPlace.address.$invalid && formPlace.address.$dirty}">
                            <label class="control-label">Endereço</label>
                            <input class="form-control" type="text" name="address" value="{{dataPlace.address}}" data-ng-model="dataPlace.address" required>
                        </div>
                        <div class="form-group" data-ng-class="{error: formPlace.position.$invalid && formPlace.position.$dirty}">
                            <label class="control-label">Position</label>
                            <input class="form-control" type="text" name="position" value="{{dataPlace.position}}" data-ng-model="dataPlace.position" required>
                        </div>
                        <div class="form-group" data-ng-class="{error: formPlace.url.$invalid && formPlace.url.$dirty}">
                            <label class="control-label">Url</label>
                            <input class="form-control" type="text" name="url" value="{{dataPlace.url}}" data-ng-model="dataPlace.url">
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-default" type="button" data-ng-click="cancel()">Cancelar</button>        
                            <button class="btn btn-primary" type="button" data-ng-show="dataPlace.$edit" data-ng-disabled="formPlace.$invalid" data-ng-click="submitEdit({id:dataPlace.id, position:dataPlace.position, name:dataPlace.name, address:dataPlace.address, url:dataPlace.url})">Editar</button>
                            <button class="btn btn-primary" type="button" data-ng-hide="dataPlace.$edit" data-ng-disabled="formPlace.$invalid" data-ng-click="submitNew({id:dataPlace.id, position:dataPlace.position, name:dataPlace.name, address:dataPlace.address, url:dataPlace.url})">Salvar</button>                                
                        </div>
                        
                        
                    </form>
                </div>

            </div>

            <div id="guide" ng-switch-when="Roteiro">
                ccc
            </div>
        </div>
        
    </div>



    <!-- <div ng-controller="Ctrl">
      <select ng-model="selection" ng-options="item for item in items">
      </select>
      <tt>selection={{selection}}</tt>
      <hr/>
      <div class="animate-switch-container"
        ng-switch on="selection">
          <div class="animate-switch" ng-switch-when="settings">Settings Div</div>
          <div class="animate-switch" ng-switch-when="home">Home Span</div>
          <div class="animate-switch" ng-switch-default>default</div>
      </div>

<tr data-ng-repeat='actor in avengers.dataList | avengersFilter:avengers.field' data-ng-click='match({id:actor.id, name:actor.name, char:actor.character, rating:actor.rating, defRating:actor.def-rating, index:$index, lastId:$last})' class=''>
 -->

	
	<!-- {{user}} -->
</div>