

<!-- <google-map center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true" style="height: 400px"></google-map> -->


<!-- <div ng-controller="MapCtrl" style="height: 400px">
    <google-map id="mymap" center="center" zoom="zoom" draggable="false" mark-click="true" style="height: 400px; display:block;">
        <markers>
            <marker ng-repeat="marker in markers" coords="marker">
            </marker>
        </markers>
    </google-map>
</div> -->

<div data-ng-controller="MapCtrl">
	
	
	<div data-draw-map></div>
	
	{{avengers}}
</div>